/* Egna stilar för uppsatskursboken */
.book .book-body .page-inner {
  max-width: 800px;
}

/* Anpassad notisruta (.rmdnote) */
div.rmdnote {
  padding: 1em;
  margin: 1em 0;
  border: 1px solid #b3d4e5;
  border-radius: 5px;
  background: #eaf3f8;
}
